<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreplus.mapper.BreadCrumbMapper">

<select id="getList" resultType="com.coreplus.domain.BreadCrumbVO">

<![CDATA[

select url
     , url_nm
from breadcrumb
start with url = #{url} 
connect by prior p_node = node
order by level desc

]]>

</select>

</mapper>