<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreplus.mapper.LeadMapper">

<select id="selectList" resultType="com.coreplus.domain.LeadVO">

select lead_id
     , del_yn
     , created_by
     , created
     , last_upd_by
     , last_upd
     , reg_chnl_cd
     , con_type_cd
     , spec_desc
     , pros_id
from   lead

</select>

<select id="selectCount" resultType="int">
select count(*)
from   lead ld, prospect pros
where  ld.pros_id = pros.pros_id
</select>

<select id="selectListWithPaging" resultType="com.coreplus.domain.LeadVO">

<![CDATA[
select lead_id
     , del_yn
     , created_by
     , created
     , last_upd_by
     , last_upd
     , reg_chnl_cd
     , con_type_cd
     , spec_desc
     , pros_id
from   (select rownum rn
             , lead_id
     		 , del_yn
     		 , created_by
     		 , created
     		 , last_upd_by
     		 , last_upd
     		 , reg_chnl_cd
     		 , con_type_cd
     		 , spec_desc
     		 , pros_id
     	from   lead
     	order  by last_upd desc
     	)
where  rn > (#{pageNum}-1) * #{amount}
and    rn <= #{pageNum} * #{amount}
]]>
</select>

<select id="getLeadReceiptList" resultMap="leadReceipt">
	
</select>

<resultMap id="leadReceipt" type="com.coreplus.doamain.LeadVO">
	<result column="lead_id" property="lead_id"/>
	<result column="last_upd" property="last_upd"/>
	<result column="reg_chnl_nm" property="reg_chnl_cd"/>
	<result column="con_type_nm" property="contype_cd"/>
	<association property="prospect" javaType="com.coreplus.domain.Prospect">
		<result column="pros_nm" property="pros_nm"/>
		<result column="cell_ph_no" property="cell_ph_no"/>
		<result column="cell_ph_tno" property="cell_ph_tno"/>
		<result column="cell_ph_pno" property="cell_ph_pno"/>
		<result column="eml_id" property="eml_id"/>
		<result column="eml_domain" property="eml_domain"/>	
	</association>
</resultMap>

</mapper>